In [1]:
import pandas as pd

In [5]:
df = pd.read_csv(r"./TDx_tracker.csv")
visitation_df = pd.read_excel(r"./Reference Data/2023_Visitation_All_Parks.xlsx")

In [6]:
df.columns

Index(['date', 'park', 'alert name', 'description', 'event type', 'road name',
       'vehicle impact', 'event start date', 'alert_id', 'region', 'alpha',
       'State'],
      dtype='object')

array(['CRLA', 'KAWW', 'BLRI', 'YOSE', 'PORE', 'BUFF', 'GRCA', 'OZAR',
       'DINO', 'GUMO', 'GRSM', 'NATR', 'ORPI', 'GOGA', 'GWMP', 'SLBE',
       'ZION', 'REDW', 'BLCA', 'MOJA', 'CARE', 'HAVO', 'PAIS', 'ACAD',
       'SHEN', 'CURE', 'DESO', 'BIBE', 'BRCA', 'DEVA', 'FOPO', 'MUWO',
       'OLYM', 'PINN', 'PISC', 'VAFO'], dtype=object)

In [8]:
visitation_df.head()

                             Park Unit Code  Year  Recreation Visits
0  Abraham Lincoln Birthplace NHP      ABLI  2023             239950
1                       Acadia NP      ACAD  2023            3879890
2                       Adams NHP      ADAM  2023              25229
3        African Burial Ground NM      AFBG  2023              40817
4            Agate Fossil Beds NM      AGFO  2023              15562

In [ ]:
ourparks = df.alpha.unique().tolist()
visitation_df_ourparks = visitation_df[visitation_df['Unit Code'].isin(ourparks)]

103795709

In [13]:
visitation_df_ourparks['Recreation Visits'].sum() / visitation_df['Recreation Visits'].sum()*100

31.888215289227347