In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
import time
from bs4 import BeautifulSoup
from PIL import Image
import pytesseract
import pandas as pd
import sys
from chromedriver_py import binary_path # this will get you the path variable
from selenium.webdriver.support.ui import Select
import math
import bs4

In [2]:
#https://stackoverflow.com/questions/76727774/selenium-webdriver-chrome-115-stopped-working
from selenium.webdriver.chrome.service import Service

service = Service()
options = webdriver.ChromeOptions()
driver = webdriver.Chrome(service=service, options=options)
driver.close()

In [3]:
# https://github.com/sinarest1608/Number-plate-search/blob/master/bot.py

df = pd.read_excel("./Plates.xlsx")

In [4]:
df.head()

,Unnamed: 0,Plate number,State where vehicle is registered,Model Year,Make Model
0,0,4389952,NH,1996.0,Toyota Camry
1,1,558 TH1,MA,2005.0,Honda Civic
2,2,7SGH10,MA,2009.0,Honda CRV
3,3,KA-404,RI,2010.0,Dodge Grand Caravan
4,4,676332,RI,2011.0,Honda Accord

In [5]:
df.columns

Index(['Unnamed: 0', 'Plate number', 'State where vehicle is registered',
       'Model Year', 'Make Model'],
      dtype='object')

In [6]:
print(df.columns.tolist())

['Unnamed: 0', 'Plate number', 'State where vehicle is registered', 'Model Year', 'Make Model']

In [7]:
vehicle1_list = []
vehicle1_year_list = []
vehicle1 = "Make Model"

In [8]:
for x in range(len(df)):
    
    print(x)
    plate = df['Plate number'][x]
    state = df['State where vehicle is registered'][x]
    vehicle_year = df['Model Year'][x]
    print(plate, state, vehicle_year)
    
    if math.isnan(vehicle_year):
        driver = webdriver.Chrome(service=service, options=options)

        url = "https://www.faxvin.com/license-plate-lookup/result?plate=" + plate + "&state=" + state
        print(url)

        driver.get(url)

        time.sleep(4)
        try:
            driver.find_element("xpath", "/html/body/div[1]/div/div[4]/form/div[3]/button").click()
            time.sleep(45)

        except:
            pass

        soup = bs4.BeautifulSoup(driver.page_source, 'html.parser')

        # Find all elements with the specified id.
        headers = soup.find("h1")
        

        vehicle1 = headers.text
        print(vehicle1)
        if vehicle1 == "Too Many Requests":
            break
        
        if vehicle1[:4] == "Lice":
            vehilce1=2099

        vehicle1_list.append(vehicle1)        
        vehicle1_year_list.append(vehicle1[:4])
        
        
        
        df['Model Year'][x] = int(vehicle1[:4])
        df['Make Model'][x] = vehicle1[:4]

        driver.close()
        
    if vehicle1 == "Too Many Requests":
        break

0
4389952 NH 1996.0
1
558 TH1 MA 2005.0
2
7SGH10 MA 2009.0
3
KA-404 RI 2010.0
4
676332 RI 2011.0
5
22P-H21 MA 2013.0
6
849FA0 MA 2014.0
7
143 LL7 MA 2015.0
8
78zn27 MA 2016.0
9
4GS 617 MA 2016.0
10
S 856 MA 2016.0
11
4FN271 MA 2017.0
12
FW806P MA 2018.0
13
500-6949 NH 2020.0
14
1EPW59 MA 2099.0
15
781-ZD5 MA 2014.0
16
1DPB30 MA 2099.0
17
90ES14 MA 2003.0
18
919-RD9 MA 2013.0
19
78JA36 MA 2014.0
20
4511NW MA 2010.0
21
5XH468 MA 2007.0
22
6DV349 MA 2017.0
23
474GT2 MA 2009.0
24
1 SHP 50 MA 2009.0
25
BD-02639 CT 2015.0
26
466 LG1 MA 2015.0
27
415-ES6 MA 2000.0
28
984LX4 MA 2099.0
29
5350P ME 2010.0
30
2RRK56 MA 2013.0
31
865-SW1 MA nan
https://www.faxvin.com/license-plate-lookup/result?plate=865-SW1&state=MA
2014 Toyota Camry

C:\Users\Eric.Englin\AppData\Local\Temp\ipykernel_708\232302870.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Model Year'][x] = int(vehicle1[:4])
C:\Users\Eric.Englin\AppData\Local\Temp\ipykernel_708\232302870.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Make Model'][x] = vehicle1[:4]

32
4CW642 MA nan
https://www.faxvin.com/license-plate-lookup/result?plate=4CW642&state=MA
2008 Toyota Camry
33
1NY157 MA nan
https://www.faxvin.com/license-plate-lookup/result?plate=1NY157&state=MA
2014 Toyota Camry
34
K 433 MA nan
https://www.faxvin.com/license-plate-lookup/result?plate=K 433&state=MA
2021 Jeep Cherokee
35
LYD1023 TX nan
https://www.faxvin.com/license-plate-lookup/result?plate=LYD1023&state=TX
2016 Honda Civic
36
791GY2 MA nan
https://www.faxvin.com/license-plate-lookup/result?plate=791GY2&state=MA
2011 Honda Civic
37
1fx-366 RI nan
https://www.faxvin.com/license-plate-lookup/result?plate=1fx-366&state=RI
2017 Dodge Challenger
38
1CPV73 MA nan
https://www.faxvin.com/license-plate-lookup/result?plate=1CPV73&state=MA
2022 Honda CR-V Hybrid
39
33R540 MA nan
https://www.faxvin.com/license-plate-lookup/result?plate=33R540&state=MA
Too Many Requests

In [9]:
df.head()

,Unnamed: 0,Plate number,State where vehicle is registered,Model Year,Make Model
0,0,4389952,NH,1996.0,Toyota Camry
1,1,558 TH1,MA,2005.0,Honda Civic
2,2,7SGH10,MA,2009.0,Honda CRV
3,3,KA-404,RI,2010.0,Dodge Grand Caravan
4,4,676332,RI,2011.0,Honda Accord

In [10]:
df[['Plate number', 
   'State where vehicle is registered', 
   'Model Year', 'Make Model']].to_excel("./Plates.xlsx")