In [12]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
import time
from bs4 import BeautifulSoup
from PIL import Image
import pytesseract
import pandas as pd
import sys
from chromedriver_py import binary_path # this will get you the path variable
from selenium.webdriver.support.ui import Select
import math
import bs4

In [13]:
#https://stackoverflow.com/questions/76727774/selenium-webdriver-chrome-115-stopped-working
from selenium.webdriver.chrome.service import Service

service = Service()
options = webdriver.ChromeOptions()
driver = webdriver.Chrome(service=service, options=options)
driver.close()

In [14]:
# https://github.com/sinarest1608/Number-plate-search/blob/master/bot.py

df = pd.read_excel("./Plates.xlsx")

In [15]:
df.head()

,Unnamed: 0,Plate number,State where vehicle is registered,Model Year,Make Model
0,0,4389952,NH,1996.0,Toyota Camry
1,1,558 TH1,MA,2005.0,Honda Civic
2,2,7SGH10,MA,2009.0,Honda CRV
3,3,KA-404,RI,2010.0,Dodge Grand Caravan
4,4,676332,RI,2011.0,Honda Accord

In [16]:
df.columns

Index(['Unnamed: 0', 'Plate number', 'State where vehicle is registered',
       'Model Year', 'Make Model'],
      dtype='object')

In [17]:
print(df.columns.tolist())

['Unnamed: 0', 'Plate number', 'State where vehicle is registered', 'Model Year', 'Make Model']

In [18]:
vehicle1_list = []
vehicle1_year_list = []
vehicle1 = "Make Model"

In [ ]:
for x in range(len(df)):
    
    print(x)
    plate = df['Plate number'][x]
    state = df['State where vehicle is registered'][x]
    vehicle_year = df['Model Year'][x]
    print(plate, state, vehicle_year)
    
    if math.isnan(vehicle_year):
        driver = webdriver.Chrome(service=service, options=options)

        url = "https://www.faxvin.com/license-plate-lookup/result?plate=" + plate + "&state=" + state
        print(url)

        driver.get(url)

        time.sleep(4)
        try:
            driver.find_element("xpath", "/html/body/div[1]/div/div[4]/form/div[3]/button").click()
            time.sleep(45)

        except:
            pass

        soup = bs4.BeautifulSoup(driver.page_source, 'html.parser')

        # Find all elements with the specified id.
        headers = soup.find("h1")
        

        vehicle1 = headers.text
        print(vehicle1)
        if vehicle1 == "Too Many Requests":
            break
        
        if vehicle1[:4] == "Lice":
            vehilce1=2099

        vehicle1_list.append(vehicle1)        
        vehicle1_year_list.append(vehicle1[:4])
        
        
        
        df['Model Year'][x] = int(vehicle1[:4])
        df['Make Model'][x] = vehicle1

        driver.close()
        
    if vehicle1 == "Too Many Requests":
        break

0
4389952 NH 1996.0
1
558 TH1 MA 2005.0
2
7SGH10 MA 2009.0
3
KA-404 RI 2010.0
4
676332 RI 2011.0
5
22P-H21 MA 2013.0
6
849FA0 MA 2014.0
7
143 LL7 MA 2015.0
8
78zn27 MA 2016.0
9
4GS 617 MA 2016.0
10
S 856 MA 2016.0
11
4FN271 MA 2017.0
12
FW806P MA 2018.0
13
500-6949 NH 2020.0
14
1EPW59 MA 2099.0
15
781-ZD5 MA 2014.0
16
1DPB30 MA 2099.0
17
90ES14 MA 2003.0
18
919-RD9 MA 2013.0
19
78JA36 MA 2014.0
20
4511NW MA 2010.0
21
5XH468 MA 2007.0
22
6DV349 MA 2017.0
23
474GT2 MA 2009.0
24
1 SHP 50 MA 2009.0
25
BD-02639 CT 2015.0
26
466 LG1 MA 2015.0
27
415-ES6 MA 2000.0
28
984LX4 MA 2099.0
29
5350P ME 2010.0
30
2RRK56 MA 2013.0
31
865-SW1 MA 2014.0
32
4CW642 MA 2008.0
33
1NY157 MA 2014.0
34
K 433 MA 2021.0
35
LYD1023 TX 2016.0
36
791GY2 MA 2011.0
37
1fx-366 RI 2017.0
38
1CPV73 MA 2022.0
39
33R540 MA 2012.0
40
3WN917 MA 2014.0
41
1ZY239 MA 2010.0
42
2206-ZJ MA 2013.0
43
2412RN MA 2014.0
44
3VBE 67 MA 2021.0
45
441K70 MA 2008.0
46
2TM210 MA 2018.0
47
1RMN90 MA 2011.0
48
356TT1 MA 2017.0
49
269WK1 MA 2012.0
50
828YEZ MA 2011.0
51
3RVS30 MA 2009.0
52
6RL 962 MA 2015.0
53
7PL 784 MA 2014.0
54
486 WE9 MA 2008.0
55
3FR623 MA 2014.0
56
1JT897 MA 2005.0
57
138 WK7 MA 2022.0
58
29A-Y26 MA 2015.0
59
38VW10 MA 2016.0
60
7264ZB ME 2022.0
61
712 KL2 MA 2009.0
62
597-TT5 MA 2010.0
63
PUCHIKA NH nan
https://www.faxvin.com/license-plate-lookup/result?plate=PUCHIKA&state=NH
2020 Jeep Grand Cherokee
64
O98S01 NV 2015.0
65
1LV100 RI 2015.0
66
2XSS19 MA 2000.0
67
2GPT16 MA 2099.0
68
KNS2212 NY 2013.0
69
4VD175 MA nan

C:\Users\Eric.Englin\.conda\envs\new_env\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\Eric.Englin\.conda\envs\new_env\lib\site-packages\ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

https://www.faxvin.com/license-plate-lookup/result?plate=4VD175&state=MA
2017 Jeep Grand Cherokee
70
3VK 731 MA nan
https://www.faxvin.com/license-plate-lookup/result?plate=3VK 731&state=MA
2005 Ford F-150
71
6rdn50 MA nan
https://www.faxvin.com/license-plate-lookup/result?plate=6rdn50&state=MA
2016 Honda CR-V
72
531VF6 MA nan
https://www.faxvin.com/license-plate-lookup/result?plate=531VF6&state=MA
2010 Honda Civic
73
3RVS40 MA nan
https://www.faxvin.com/license-plate-lookup/result?plate=3RVS40&state=MA
2013 Honda Civic
74
42T630 MA nan
https://www.faxvin.com/license-plate-lookup/result?plate=42T630&state=MA
2019 Jeep Cherokee
75
293-XOZ MA nan
https://www.faxvin.com/license-plate-lookup/result?plate=293-XOZ&state=MA
2014 Jeep Grand Cherokee
76
477PB5 MA nan
https://www.faxvin.com/license-plate-lookup/result?plate=477PB5&state=MA

In [9]:
df.head()

,Unnamed: 0,Plate number,State where vehicle is registered,Model Year,Make Model
0,0,4389952,NH,1996.0,Toyota Camry
1,1,558 TH1,MA,2005.0,Honda Civic
2,2,7SGH10,MA,2009.0,Honda CRV
3,3,KA-404,RI,2010.0,Dodge Grand Caravan
4,4,676332,RI,2011.0,Honda Accord

In [10]:
df[['Plate number', 
   'State where vehicle is registered', 
   'Model Year', 'Make Model']].to_excel("./Plates.xlsx")